<h1>Simulation Name</h1>

<ol>
  <li> This should display the seating arrangement of the current simulation </li>
  <li> This should dispaly the verdict of the current state of the simulation </li>
  <li> It should automatically and asynchronously update itself to the next state at a regular interval.  </li>
</ol>
<%= link_to 'Back', simulations_path %>
